
/*统一样式*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {display:block;}
audio,canvas,video {display:inline-block;}
audio:not([controls]) {display:none;height:0;}
/*Base*/
html {font-size:12px;font-family: "微软雅黑","\5b8b\4f53",Arial,sans-serif;}
* {margin:0;padding:0;}
p{margin:0;padding:0;}
a {text-decoration:none;}
a:focus {outline:0;}
a:active,a:hover {outline:0;/*transition:text-shadow 500ms ease-in 0ms,color 500ms ease-in 0ms;*/}
img {border:0;margin:0;padding:0;display:block;max-width: 100%;}
fieldset {border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
button,input,select,textarea {font-family:inherit;font-size:100%;margin:0;outline:none;border:none;-webkit-appearance:none;border-radius:0;}
button,input {line-height:normal;}
button,select {text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled] {cursor:default;}
input[type="checkbox"],input[type="radio"] {box-sizing:border-box;padding:0;}
input[type="search"] {-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner {border:0;padding:0;}
input.submit {border:0;margin:0;cursor:pointer;}
input.radio {width:13px;height:13px;float:left;display:inline;}
textarea {overflow:auto;vertical-align:top;}
table {border-collapse:collapse;border-spacing:0;}
ul,ol {list-style:none;}
.h120{height:1.2rem;}
.clear{clear: both;}
.layout{width:6.7rem;margin:0 auto;}


/*header*/
header{width:100%;position:fixed;height:1.2rem;background:#ff8920;top:0;left:0;z-index:99;}
header a.nav-icon{display:block;width:0.32rem;height:0.29rem;background:url(../images/nav.png) no-repeat;background-size:100% 100%;position:absolute;top:0.45rem;left:0.4rem;}
header a.logo{display:block;width:2.29rem;height:0.76rem;background:url(../images/logo.png) no-repeat;background-size:100% 100%;position:absolute;top:0.23rem;left:50%;margin-left:-1.145rem;}

nav{width:1.6rem;position:fixed;top:0;height:100%;opacity: 0;
    
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    }
nav .iconc{width:100%;height:1.8rem;background:#ff8920;}
nav a.nav-icon1{display:block;width:0.22rem;height:0.29rem;background:url(../images/nav1.png) no-repeat;background-size:100% 100%;position:absolute;top:0.45rem;left:0.5rem;}
nav ul{
    background: -moz-linear-gradient(top, rgba(255,137,32,1) 0%, rgba(255,48,32,0.6) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,137,32,1)), color-stop(100%,rgba(255,48,32,0.6)));
    background: -webkit-linear-gradient(top, rgba(255,137,32,1) 0%, rgba(255,48,32,0.6) 100%);
    background: -o-linear-gradient(top, rgba(255,137,32,1) 0%, rgba(255,48,32,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(255,137,32,1) 0%, rgba(255,48,32,0.6) 100%);
    background: linear-gradient(to bottom, rgba(255,137,32,1) 0%, rgba(255,48,32,0.6) 100%);
    height:100vh;}
nav li{font-size:12px;position:relative;text-align: center;margin-bottom: 0.6rem;line-height: 12px;height:12px;}
nav li a{color:#fff;}
nav li:after{content: '';width:10px;height:3px;background:#fff;position:absolute;top:4px;right:10px;display:none;}
nav li.active:after{display:block;}

/*banner*/
.banner{width:100%;height:4rem;overflow: hidden;}
.banner .swiper-pagination-bullet{width:15px;height:3px;border-radius: 0;background:#ff8920;opacity: 0.5;}
.banner .swiper-pagination-bullet-active{opacity: 1;}

/*index-pro*/
.index-pro{background:#ff8920;padding-top:0.6rem;padding-bottom:0.4rem;position:relative;}
.index-pro .title{display:block;width:2.13rem;height:0.5rem;margin:0 auto 0.3rem;}
.index-pro .list1 li{width:6.7rem;height:1.81rem;background:url(../images/index-pro-bg.png) no-repeat;background-size:100% 100%;margin:0 auto 0.2rem;}
.index-pro .list1 li .img{width:1.71rem;height:1.71rem;float:left;}
.index-pro .list1 li .word{color:#fff;text-align: center;width:2.6rem;float:left;line-height: 100%;position:relative;top:0.6rem;}
.index-pro .list1 li .word p{font-size:0.3rem;font-weight: bold;line-height: 0.3rem;margin-bottom: 0.2rem;}
.index-pro .list1 li .word span{display:block;font-size:12px;line-height: 12px;text-transform: uppercase;}
.index-pro .list1 li a.dianji{float:left;position:relative;top:0.6rem;display:block;width:1.92rem;height:0.63rem;background:url(../images/index-pro-bg1.png) no-repeat;background-size:100% 100%;text-align: center;line-height: 0.63rem;color:#fff;font-size:12px;}

.index-pro .list2{}
.index-pro .list2 li{width:3.25rem;height:1.88rem;float:left;margin-bottom: 0.2rem; border-radius: 0.94rem; overflow: hidden;position:relative;}
.index-pro .list2 li:nth-child(2n){float:right;}
.index-pro .list2 li p{height:0.63rem;width:100%;background:rgba(211,115,29,0.8);color:#fff;text-align: center;line-height: 0.63rem;position:absolute;left:0;bottom:0;font-size:12px;}

/*pro-menu*/
.pro-menu{background:#ff7a0e;width:100%;padding:0.4rem 0;}
.pro-menu dl{float:left;width:2rem;margin-right: 0.35rem;}
.pro-menu dl:nth-child(3){margin-right: 0;}
.pro-menu dt{color:#fff;font-size:14px;position:relative;padding-left:3px;padding-bottom: 3px;}
.pro-menu dt span{position:relative;z-index:10;}
.pro-menu dt:before{content: '';display: block;width:0.44rem;height:0.17rem;background:#ea0303;position:absolute;left:0;bottom:0;z-index:9;}
.pro-menu dd{margin-top:0.2rem;width:1.55rem;height:0.44rem;text-align: center;line-height: 0.44rem;background:#ff8920;border-radius: 0.22rem;}
.pro-menu dd a{color:#fff;font-size:12px;display:block;}

/*index-news*/
.index-news{background:#ff8920;padding:0.6rem 0;}
.index-news .title{width:1.2rem;height:0.5rem;margin: 0 auto 0.3rem;}
.index-news li{width:6.7rem;height:1.18rem;margin-bottom:0.2rem;background:url(../images/index-news-bg.png) no-repeat;background-size:100% 100%; overflow: hidden;border-bottom-left-radius: 0.6rem;border-top-left-radius: 0.6rem;}
.index-news li .img{width:2.4rem;float:left;}
.index-news li .img img{width:2.4rem;height:1.18rem;}
.index-news li .word{float:left;width:3.86rem;margin-left: 0.2rem;margin-top: 0.1rem;}
.index-news li .word h3{font-size:14px;line-height: 14px;height:14px; overflow: hidden;color:#fff;font-weight: normal;margin-bottom: 0.1rem;}
.index-news li .word p{font-size:12px;color:#fee3cb;line-height: 16px;height:32px; overflow: hidden;}
.index-news a.more{display:block;font-size:12px;color:#ea0303;width:1.6rem;height:0.48rem;text-align: center;line-height: 0.48rem;border:1px solid #ea0303;border-radius: 0.24rem;margin:0.2rem auto 0;}

/*footer*/
footer{width:100%;background:#ff7a0e;}
footer a.foot-logo{display:block;padding:0.4rem 0;width:0.84rem;height:1.16rem;margin:0 auto;}
footer p{font-size:12px;text-align: center;box-sizing: border-box;height:0.56rem;line-height: 0.56rem;color:#fff;border-top:1px solid #ff8920; overflow: hidden;}

/*ny-banner*/
.ny-banner{width:100%;height:4rem;}
.ny-banner img{width:7.5rem;height:4rem;}

/*about*/
.about{padding:0.6rem 0;background:#ff8920;}
.about .title{width:1.77rem;height:0.5rem;margin:0 auto 0.3rem;}
.about p{font-size:12px;color:#fff;text-indent: 2em;line-height: 24px;}
.about dl{margin-top: 0.5rem;text-align: center;}
.about dt{width:2.44rem;height:2.44rem;margin:0 auto;}
.about dd{font-size:12px;line-height: 12px;color:#fff;margin-top: 0.2rem;}

/*product*/
.product{padding:0.6rem 0;background:#ff8920;}
.product .title{width:1.39rem;height:0.5rem;margin:0 auto 0.3rem;}
.product .ny-nav{height:0.48rem;}
.product .ny-nav li{float:left;width:1.6rem;height:0.48rem;margin-right:0.1rem;text-align: center;font-size:12px;line-height: 0.48rem;background:#ff7a0e;border-radius: 0.24rem; overflow: hidden;}
.product .ny-nav li:last-child{margin-right:0;}
.product .ny-nav li a{color:#ffca9b;}
.product .ny-nav li.active a{color:#fff;}
.product .product-list{}
.product .product-list li{float:left;margin-top:0.3rem;text-align:center;width:2.1rem; overflow: hidden;margin-right: 0.2rem; }
.product .product-list li img{width:2.1rem;height:2.1rem; overflow: hidden;border-radius: 0.3rem;}
.product .product-list li p{font-size:12px;color:#fff;line-height: 12px;margin-top: 0.2rem;}
.product .product-list li:nth-child(3n){margin-right: 0;}

.fy{text-align: center;}
.fy a{display:inline-block;font-size:12px;color:#fff;text-align: center;width:0.4rem;height:0.4rem;border:1px solid #fff;box-sizing: border-box;border-radius: 50%;}
.fy a.active{background:#fff;color:#ff8920;}
.fy a.prev{width:0.96rem;border-radius: 0.2rem;}
.fy a.next{width:0.96rem;border-radius: 0.2rem;}

/*news*/
.news{padding:0.6rem 0;background:#ff8920;}
.news .title{width:1.4rem;height:0.5rem;margin:0 auto 0.3rem;}
.news li{width:6.7rem;height:1.9rem;margin-bottom: 0.2rem;position:relative;border-radius: 0.95rem; overflow: hidden;}
.news li:after{content: '';display: block;width:6.7rem;height:1.9rem;background:url(../images/news-bg.png) no-repeat;background-size:100% 100%;position:absolute;left:0;top:0;z-index:10;}
.news li .img{width:6.7rem;height:1.9rem;position:absolute;left:0;top:0;z-index:9;}
.news li .img img{width:6.7rem;height:1.9rem;}
.news li .word{width:4.85rem;margin-left: 0.2rem;margin-top: 0.1rem;position:relative;z-index:11;top:0.6rem;left:0.9rem;}
.news li .word h3{font-size:14px;line-height: 14px;height:14px; overflow: hidden;color:#fff;font-weight: normal;margin-bottom: 0.2rem;}
.news li .word p{font-size:12px;color:#fee3cb;line-height: 16px;height:32px; overflow: hidden;}

/*join*/
.join{padding:0.6rem 0;background:#ff8920;}
.join .title{width:2.93rem;height:0.5rem;margin:0 auto 0.3rem;}

/*contact*/
.contact{padding:0.6rem 0;background:#ff8920;text-align: center;}
.contact .title{width:1.53rem;height:0.5rem;margin:0 auto 0.3rem;}
.contact p{position:relative;font-size:0.3rem;line-height:0.3rem;font-weight: bold;color:#ffffff;}
.contact p span{position:relative;display:block;z-index:3;}
.contact p:after{content: '';display: block;width:1.7rem;height:0.1rem;position:absolute;left:50%;margin-left:-0.85rem;top:50%;margin-top:-0.05rem;background:#ea0303;z-index:2;}
.contact span{font-size:12px;line-height: 12px;display: block;color:#fff;margin:0.2rem 0 0.25rem 0;}
.contact .map{width:4.99rem;height:2.8rem;margin:0 auto;}

/*product-show*/
.product-show{padding:0.6rem 0;background:#ff8920;text-align: center;}
.product-show h3{background:#ff7a0e;border-radius: 0.3rem;color:#fff;font-size:14px;line-height:0.6rem;width:2rem;height:0.6rem;margin:0 auto;font-weight: normal;margin-bottom:0.4rem;}
.product-show .product-banner{margin-bottom: 0.2rem;}
.product-show .product-banner img{width:6.7rem;height:3.6rem;margin:0 auto; border-top-left-radius: 1.3rem;border-top-right-radius: 1.3rem; overflow: hidden;}
.product-show .swiper-pagination-bullet{width:15px;height:3px;border-radius: 0;background:#fff;opacity: 0.5;}
.product-show .swiper-pagination-bullet-active{opacity: 1;}
.product-show p{float:left;width:50%;font-size:12px;color:#fff;margin-bottom: 0.6rem;}
.product-show p img{display:inline-block;width:0.23rem;height:0.22rem;margin-right:0.2rem;}
.product-show span.c{display:block;color:#ffcfa5;font-size:12px;line-height: 16px;position:relative;}

/*news-show*/
.news-show{padding:0.6rem 0;background:#ff8920;color:#fff;}
.news-show .title{width:1.4rem;height:0.5rem;margin:0 auto 0.3rem;}
.news-show h3{color:#fff;font-size:0.3rem;text-align: center;line-height: 0.4rem;padding:0.3rem 0;position:relative;}
.news-show h3:before{content: '';display:block;width:4.8rem;height:1px;background:#ff7a0e;position:absolute;top:0;left:50%;margin-left: -2.4rem;}
.news-show p{font-size:12px;line-height: 24px;color:#fee3cb;text-indent: 2em;}
.news-show .layout{padding-bottom: 0.6rem;}
.news-show .nextc{width:5.5rem;display:block;height:0.4rem;text-align: center;margin:0 auto;}
.news-show .nextc a{float:left;display:block;width:2.4rem;height:0.4rem;font-size:12px; overflow: hidden;color:#fff;border:1px solid #fff;box-sizing: border-box;border-radius: 0.2rem;margin-right: 0.7rem;}
.news-show .nextc a:nth-child(2){margin-right: 0;}

